@use "../../theme";

.superTasker {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .content {
    display: flex;
    gap: 1rem;
    overflow: hidden;
  }

  .sidebar,
  .main {
    padding: 1rem;
    border: 1px solid theme.$mainLightColor10;
  }

  .sidebar {
    width: 30%;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        border: 1px solid theme.$mainLightColor10;
        background-color: theme.$mainLightColor10;
        padding: 0.5rem;
        color: theme.$mainLightColor;
      }

      button {
        padding: 0.5rem;
        color: theme.$mainDarkColor;
      }

      label {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 0.75rem;

        input {
          font-size: 1rem;
        }
      }
    }
  }

  .main {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
  }

  .task {
    display: flex;
    gap: 1rem;
    border: 1px solid theme.$mainLightColor10;
    padding: 0.5rem;

    &_content {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 1rem;
    }

    &_title {
      font-weight: bold;
    }

    &_options {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: flex-end;
    }

    &_remove {
      background-color: theme.$accentDanger;
      color: theme.$mainLightColor;
    }

    &_status {
      border-radius: 1rem;
      border: 1px solid theme.$mainLightColor;
      font-size: 0.75rem;
      color: theme.$mainLightColor;
      background-color: theme.$mainDarkColor;
      padding: 0.25rem;
    }
  }
}
